/* All media-queries should use em values,
  as we want a consistent scaling for zoom and increased browser font-size functionalities.
  Due to Safari bugs rem's cannot be used */

:root {
  --red: #ef5350;
  --green: #27b376;
  --yellow: #ffca28;
  --blue: #0099F9;
  --dark-blue: #15354a;
  --grey: #e3e7e9;
}


.container-fluid{
  width: 100%;
  height: 100%;
  padding: 0px!important;
  margin: auto!important;
  max-width: 81.25rem;
}
@keyframes popUp {
  0% {
    transform: scaleY(0.4);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
body {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  margin: 0;
  min-height: 100vh;
  padding-top: 4.375rem;
}
@media only screen and (min-width: 36em) {
  body {
    padding: 5.625rem 1.25rem 3.125rem;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

.userTabbed *:focus {
  outline: 2px solid var(--blue);
}

.dashboard {
  align-self: center;
  background-color: #fff;
  box-shadow: 0 4px 25px 0 rgba(82, 82, 82, 0.1);
  justify-self: center;
  max-width: 81.25rem;
  padding: 0.9375rem;
  width: 100%;
}
@media only screen and (min-width: 36em) {
  .dashboard {
    border-radius: 10px;
    padding: 1.5625rem;
  }
}

html {
  font-size: 100%;
}

body {
  font-family: "Maven Pro", sans-serif;
  color: #525252;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1;
}

.positive-change {
  color: var(--green);
}
.negative-change {
  color: var(--red);
}
.main-header {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 1.25rem;
  padding-bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media only screen and (min-width: 36em) {
  .main-header {
    padding: 1.25rem;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 75em) {
  .main-header {
    justify-content: start;
  }
}
.main-header .main-title {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.625rem 0;
}
@media only screen and (min-width: 48em) {
  .dashboard-header {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 75em) {
  .dashboard-header {
    flex-wrap: nowrap;
  }
}
.dashboard-header .dashboard-heading {
  align-items: center;
  background: none;
  color: #B3B8BA;
  display: flex;
  flex-shrink: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 36em) {
  .dashboard-header .dashboard-heading {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 48em) {
  .dashboard-header .dashboard-heading {
    margin-right: 1.875rem;
  }
}
.dashboard-header .dashboard-heading .dashboard-title {
  margin: 0 0 1.5625rem 0.9375rem;
}

.logo {
  fill: #B3B8BA;
  transition: fill 0.2s;
}
.logo:hover {
  fill: var(--blue);
}

.logo-shiny {
  width: 80px;
}

.logo-appsilon {
  align-items: center;
  display: flex;
  justify-content: center;
  fill: #6E757B;
  width: 120px;
}
@media only screen and (min-width: 36em) {
  .logo-appsilon {
    fill: #B3B8BA;
    width: 180px;
  }
}

.logo-svg {
  width: 100%;
}

.dashboard-filters {
  display: grid;
  gap: 0.9375rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
@media only screen and (min-width: 23.75em) {
  .dashboard-filters {
    grid-template-columns: repeat(3, 1fr);
    /* edited
    grid-template-columns: 3fr 3fr 3fr; */
    grid-template-columns: 3fr 2.5fr 3.5fr;
  }
}
@media only screen and (min-width: 48em) {
  .dashboard-filters {
    max-width: 450px;
  }
}
@media only screen and (min-width: 67.5em) {
  .dashboard-filters {
    max-width: 700px;
    gap: 1.875rem;
  }
}
.dashboard-filters .form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}
.dashboard-filters .form-group .selectize-control.single {
  margin-bottom: 0;
}
.dashboard-filters .form-group .selectize-control.single .selectize-input {
  font-weight: 500;
  align-items: center;
  background: none;
  display: flex;
  justify-content: space-between;
}
.dashboard-filters .form-group .selectize-control.single .selectize-input > .item {
  font-size: 0.875rem;
  font-weight: 500;
}
.dashboard-filters .form-group .selectize-control.single .selectize-input::after {
  background-color: #525252;
  border: none;
  content: "";
  display: flex;
  height: 10px;
  margin: 0;
  mask-image: url(www/arrow.svg);
  mask-size: 100%;
  pointer-events: none;
  position: static;
  transition: transform 0.2s;
  width: 10px;
  -webkit-mask-image: url(www/arrow.svg);
  -webkit-mask-size: 100%;
}
.dashboard-filters .form-group .selectize-control.single .selectize-input > input {
  display: none !important;
}
.dashboard-filters .form-group .selectize-control.single .selectize-input.input-active {
  cursor: pointer;
  box-shadow: none;
}
.dashboard-filters .form-group .selectize-control.single .selectize-input.input-active::after {
  transform: rotate(180deg);
}
.dashboard-filters .form-group .selectize-control.single .selectize-dropdown {
  animation: popUp 0.2s cubic-bezier(0.37, 1.44, 0.82, 1);
  box-shadow: 0 2px 8px -2px rgba(82, 82, 82, 0.4);
  position: absolute;
  transform-origin: center top;
  z-index: 9999;
}
.dashboard-filters .form-group .selectize-control.single .selectize-input:not(.input-active):hover {
  border: 1px solid var(--blue);
}
.dashboard-filters .form-group .selectize-control.single .selectize-input:not(.input-active):hover > .item {
  color: var(--blue);
}
.dashboard-filters .form-group .selectize-control.single .selectize-input:not(.input-active):hover::after {
  background-color: var(--blue);
}
.dashboard-filters .form-group .selectize-control.single .selectize-input.input-active {
  color: white;
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
}
.dashboard-filters .form-group .selectize-control.single .selectize-input.input-active > .item {
  color: #fff;
}
.dashboard-filters .form-group .selectize-control.single .selectize-input.input-active::after {
  background-color: #fff;
}
@media only screen and (min-width: 67.5em) {
  .dashboard-filters .form-group {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.dashboard-filters .form-group:last-child {
  grid-column: 1/3;
}
@media only screen and (min-width: 23.75em) {
  .dashboard-filters .form-group:last-child {
    grid-column: auto;
  }
}
.dashboard-filters .form-group label {
  font-weight: 500;
  margin-bottom: 0.3125rem;
  white-space: nowrap;
}
@media only screen and (min-width: 67.5em) {
  .dashboard-filters .form-group label {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
}
.dashboard-filters .form-group > div {
  width: 100%;
}

.dashboard-panels {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
  width: 100%;
  /* added */
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 36em) {
  .dashboard-panels {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 67.5em) {
  .dashboard-panels {
    grid-template-columns: repeat(4, 1fr);
  }
}

.panel {
  border-radius: 6px;
  box-shadow: 0 2px 8px -2px rgba(82, 82, 82, 0.4);
  width: 100%;
}

.panel-metric {
  position: relative;
  /*margin-bottom: 0.625rem;*/
  /* added */
  border: 0px;
  height: 100%;
  align-items: stretch;
}
.panel-metric label {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.panel-metric .shiny-input-container {
  width: 100%;
}
.panel-metric .shiny-input-container .selectize-control.single {
  margin-bottom: 0;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input {
  align-items: center;
  background: none;
  display: flex;
  justify-content: space-between;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input > .item {
  font-size: 0.875rem;
  font-weight: 500;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input::after {
  background-color: #525252;
  border: none;
  content: "";
  display: flex;
  height: 10px;
  margin: 0;
  mask-image: url(www/arrow.svg);
  mask-size: 100%;
  pointer-events: none;
  position: static;
  transition: transform 0.2s;
  width: 10px;
  -webkit-mask-image: url(www/arrow.svg);
  -webkit-mask-size: 100%;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input > input {
  display: none !important;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input.input-active {
  cursor: pointer;
  box-shadow: none;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input.input-active::after {
  transform: rotate(180deg);
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-dropdown {
  animation: popUp 0.2s cubic-bezier(0.37, 1.44, 0.82, 1);
  box-shadow: 0 2px 8px -2px rgba(82, 82, 82, 0.4);
  position: absolute;
  transform-origin: center top;
  z-index: 9999;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input {
  background-color: var(--dark-blue);
  border-radius: 6px 6px 0 0;
  padding: 0.4375rem 0.9375rem;
  border: none;
  min-height: 0;
  transition: background-color 0.2s;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input > .item {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input:hover {
  background-color: var(--blue);
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input::after {
  background-color: #fff;
  height: 15px;
  mask-image: url(www/dots.svg);
  width: 15px;
  -webkit-mask-image: url(www/dots.svg);
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input.input-active {
  border-color: var(--blue);
  background-color: var(--blue);
}
.panel-metric .shiny-input-container .selectize-control.single .selectize-input.input-active::after {
  transform: scaleX(0);
}
.panel-metric .shiny-html-output {
  /* edited
  align-items: end; */
  align-items: center;
  display: grid;
  /* edited
  gap: 0.625rem;
  column-gap: 1.875rem; */
  row-gap: 0.625rem;
  column-gap: 0rem;
  grid-template-areas: "metric  icon" "detail percent";
  grid-template-columns: 1fr auto;
  /* edited
  grid-template-rows: 1fr auto; */
   grid-template-rows: 35px auto;
  /* edited
  height: 6.25rem; */
  height: 7rem;
  /* edited
  padding: 12px; */
  padding: 8px;
}
.panel-metric .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  fill: #B3B8BA;
  grid-area: icon;
  height: 30px;
  pointer-events: none;
  width: 30px;
}
.panel-metric .metric {
  color: #525252;
  font-size: 1.5rem;
  font-weight: 500;
  grid-area: metric;
  line-height: 1;
}
.metric-small {
  color: #525252;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}
@media only screen and (min-width: 67.5em) {
  .panel-metric .metric {
    font-size: 2rem;
  }
}
.panel-metric .change-value {

  border-top: 1px solid #B3B8BA;
  font-size: 1rem;
  font-weight: 500;
  grid-area: percent;
  padding-top: 0.3125rem;
  text-align: right;
  /*start addition*/
  min-width: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
  /*end addition*/
}
.panel-metric .detail-value {
  border-top: 1px solid #B3B8BA;
  font-size: 1rem;
  font-weight: 500;
  grid-area: detail;
  padding-top: 0.3125rem;
  text-align: right;
  /* start addition */
  /* height: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
  /*end addition*/
}
.panel-chart {
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media only screen and (min-width: 36em) {
  .panel-chart {
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 67.5em) {
  .panel-chart {
    grid-column: 1/3;
  }
}
.panel-chart .panel-header {
  position: absolute;
  width: 100%;
}
.panel-chart .panel-header .selectize-control.single {
  margin-bottom: 0;
}
.panel-chart .panel-header .selectize-control.single .selectize-input {
  align-items: center;
  background: none;
  display: flex;
  justify-content: space-between;
}
.panel-chart .panel-header .selectize-control.single .selectize-input > .item {
  font-size: 0.875rem;
  font-weight: 500;
}
.panel-chart .panel-header .selectize-control.single .selectize-input::after {
  background-color: #525252;
  border: none;
  content: "";
  display: flex;
  height: 10px;
  margin: 0;
  mask-image: url(www/arrow.svg);
  mask-size: 100%;
  pointer-events: none;
  position: static;
  transition: transform 0.2s;
  width: 10px;
  -webkit-mask-image: url(www/arrow.svg);
  -webkit-mask-size: 100%;
}
.panel-chart .panel-header .selectize-control.single .selectize-input > input {
  display: none !important;
}
.panel-chart .panel-header .selectize-control.single .selectize-input.input-active {
  cursor: pointer;
  box-shadow: none;
}
.panel-chart .panel-header .selectize-control.single .selectize-input.input-active::after {
  transform: rotate(180deg);
}
.panel-chart .panel-header .selectize-control.single .selectize-dropdown {
  animation: popUp 0.2s cubic-bezier(0.37, 1.44, 0.82, 1);
  box-shadow: 0 2px 8px -2px rgba(82, 82, 82, 0.4);
  position: absolute;
  transform-origin: center top;
  z-index: 9999;
}
.panel-chart .panel-header .selectize-control.single .selectize-input {
  background-color: var(--dark-blue);
  border-radius: 6px 6px 0 0;
  padding: 0.4375rem 0.9375rem;
  border: none;
  min-height: 0;
  transition: background-color 0.2s;
}
.panel-chart .panel-header .selectize-control.single .selectize-input > .item {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.panel-chart .panel-header .selectize-control.single .selectize-input:hover {
  background-color: var(--blue);
}
.panel-chart .panel-header .selectize-control.single .selectize-input::after {
  background-color: #fff;
  height: 15px;
  mask-image: url(www/dots.svg);
  width: 15px;
  -webkit-mask-image: url(www/dots.svg);
}
.panel-chart .panel-header .selectize-control.single .selectize-input.input-active {
  border-color: var(--blue);
  background-color: var(--blue);
}
.panel-chart .panel-header .selectize-control.single .selectize-input.input-active::after {
  transform: scaleX(0);
}
.panel-chart .panel-header label {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.panel-chart .panel-header .shiny-input-container {
  width: 100%;
}
.panel-chart .breakdown-header {
  background-color: var(--dark-blue);
  border-radius: 6px 6px 0 0;
  padding: 0.4375rem 0.9375rem;
}
.panel-chart .breakdown-header > .item {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.chart-time .chart-time-container {
  padding: 4.375rem 0.625rem 0.625rem;
}
.chart-time .dygraph-label {
  font-size: 0.625rem;
}
.chart-time .dygraph-legend {
  background-color: transparent !important;
  top: -1.875rem !important;
  left: 0.625rem !important;
  width: 100% !important;
}
.chart-time .dygraph-legend > span {
  margin-left: 0.3125rem;
  margin-right: 0.625rem;
  display: inline-block;
}

.chart-breakdown .chart-breakdown-container {
  padding: 2.5rem 0.625rem 0.625rem;
}

@media only screen and (min-width: 67.5em) {
  .chart-map {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .chart-map #map-choroplethCountryMap {
    height: 100% !important;
  }
}
.chart-map .leaflet-top {
  top: auto;
  bottom: 0.3125rem;
}
.chart-map .leaflet-left {
  left: 0.3125rem;
}
.chart-map .leaflet-control {
  margin: 0;
  border: none;
}
.chart-map .leaflet-bar a {
  background-color: #fff;
  color: #6E757B;
  transition: background-color 0.2s, color 0.2s;
}
.chart-map .leaflet-bar a:hover {
  background-color: #B3B8BA;
  color: #525252;
}

/* dashboard-filters-vertical */
.dashboard-filters-vertical {
  display: grid;
  gap: 0rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: auto;
  width: 100%;
  padding: 5px;
}
.dashboard-filters-vertical .shiny-input-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  align-items: center;
}
.dashboard-filters-vertical .form-group {
  margin-bottom: 0px;
}
.dashboard-filters-vertical .form-group label {
    text-align: right;
}
.dashboard-filters-vertical .form-group div .selectize-control {
  margin-bottom: 0px;
}

.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input .item {
  font-size: 0.875rem;
  font-weight: 500;
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input::after {
  background-color: #525252;
  border: none;
  content: "";
  display: flex;
  height: 10px;
  margin: 0;
  mask-image: url(www/arrow.svg);
  mask-size: 100%;
  pointer-events: none;
  position: absolute;
  top: 40%;
  transition: transform 0.2s;
  width: 10px;
  -webkit-mask-image: url(www/arrow.svg);
  -webkit-mask-size: 100%;
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input > input {
  display: none !important;
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input.input-active {
  cursor: pointer;
  box-shadow: none;
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input.input-active::after {
  transform: rotate(180deg);
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-dropdown {
  animation: popUp 0.2s cubic-bezier(0.37, 1.44, 0.82, 1);
  box-shadow: 0 2px 8px -2px rgba(82, 82, 82, 0.4);
  position: absolute;
  transform-origin: center top;
  z-index: 9999;
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input:not(.input-active):hover {
  color: var(--blue);
  border: 1px solid var(--blue);
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input:not(.input-active):hover > .item {
  color: var(--blue);
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input:not(.input-active):hover::after {
  background-color: var(--blue);
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input.input-active {
  color: white;
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input.input-active > .item {
  color: #fff;
}
.dashboard-filters-vertical .form-group .selectize-control.single .selectize-input.input-active::after {
  background-color: #fff;
}

/* added dashboard-panels-2col */
.dashboard-panels-2col {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px;
  width: 100%;
  margin-bottom: 20px;
}
@media only screen and (min-width: 36em) {
  .dashboard-panels-2col {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px;
  }
}
@media only screen and (min-width: 67.5em) {
  .dashboard-panels-2col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
  }
}
/* panel-100 */
.panel-100 {
  grid-template-rows: repeat(4, 100px);
}
@media only screen and (min-width: 36em) {
  .panel-100 {
    grid-template-rows: repeat(2, 100px);
  }
}
@media only screen and (min-width: 67.5em) {
  .panel-100 {
    grid-template-rows: 100px;
  }
}
/* panel-150 */
.panel-150 {
  grid-template-rows: repeat(4, 150px);
}
@media only screen and (min-width: 36em) {
  .panel-150 {
    grid-template-rows: repeat(2, 150px);
  }
}
@media only screen and (min-width: 67.5em) {
  .panel-150 {
    grid-template-rows: 150px;
  }
}
/* panel-300 */
.panel-300 {
  grid-template-rows: repeat(4, 300px);
}
@media only screen and (min-width: 36em) {
  .panel-300 {
    grid-template-rows: repeat(2, 300px);
  }
}
@media only screen and (min-width: 67.5em) {
  .panel-300 {
    grid-template-rows: 300px;
  }
}
/* added reactable */
.rt-tr-highlight, .rt-tr-highlight-sticky {
  cursor: pointer;
}
.rt-tr-selected {
  pointer-events: none;
}
.rt-sticky {
  border-radius: 6px;
}
.reactable {
  width: 100%!important;
  visibility: inherit;
  overflow-x: overlay;
}
.rt-th {
    border-bottom: 2px solid var(--dark-blue);
    border-radius: 0px;
}
/* added leaflet
.leaflet-container{
    width: 100%!important;
    height: 0!important;
    padding-bottom: 100%!important;
}
@media only screen and (min-width: 36em) {
  .leaflet-container{
    width: 100%!important;
    height: 0!important;
    padding-bottom: 100%!important;
  }
}
@media only screen and (min-width: 67.5em) {
  .leaflet-container{
    height: 100%!important;
  }
} */
.leaflet-container{
  height: 100%!important;
}
.shiny-loader-output-container {
  width: 100%!important;
  overflow-x: hidden;
}
.load-container {
  left: 45%;
}
.legend {
  font-family: "Maven Pro", sans-serif!important;
  color: #525252!important;
}
.legend > div:nth-child(2) {
  margin-left: 0px!important;
  margin-right: 0px!important;
  margin-bottom: -6px;
}
.legend > div:nth-child(3) > div:nth-child(2) {
  left: 123px!important;
}
.leaflet-tooltip {
  font-family: "Maven Pro", sans-serif!important;
  color: #525252!important;
}
#map_liste_density_btn {
  background-color: #525252;
}
/* waiter */
.waiter-overlay {
  scale: 1.01;
  border-radius: 4px!important;
  background-color: var(--grey)!important;
  left: auto!important;
  top: auto!important;
  /*position: relative!important;
  height: 100px!important;
  top: inherit!important;*/
}
/* progress */
.progress-xs {
  margin-bottom: 0px!important;
}
.progress-bar-success {
  background-color: var(--blue)!important;
}
/* shiny-bound-output */
.recalculating > .panel {
  display: none!important;
}
.recalculating > .Reactable {
  display: none!important;
}
.recalculating > .leaflet {
  display: none!important;
}
