:root {
  --text-alt-color: #777;
  --border-color: #e7e7e7;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--main-background)!important;
}
/*nav-link*/
.nav-link.active{
  color: #0f1114!important;;
}
.nav-link:hover{
  color: #0f1114!important;;
}
/* navbar */
.navbar-dark .navbar-brand, .navbar.navbar-inverse .navbar-brand{
  color: var(--text-alt-color);
  font-size: 18px!important;
}
.navbar-dark .navbar-brand:hover, .navbar.navbar-inverse:hover .navbar-brand:hover {
  color: var(--text-alt-color);
}
.navbar.navbar-inverse {
  background-color: white !important;
  height: 50px;
}
.chart-wrapper-flex {
  background-color: var(--background-alt-color)!important;
  color: var(--text-color) !important;
  border-color: var(--border-color)!important;
}
.nav-tabs-custom > .nav-tab {
  background-color: var(--background-alt-color)!important;
}
.chart-title, .nav-tabs-custom, .nav-tabs {
  background-color: var(--background-alt-color)!important;
  color: var(--text-color) !important;
  border-color: var(--border-color)!important;
}
.nav-tabs-custom > .nav-tabs > li > a {
  color: var(--text-color) !important;
}
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: var(--text-alt-color)!important;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
  background-color: var(--background-alt-color)!important;
  color: var(--text-color) !important;
  border-top-color: var(--border-color)!important;
  border-left-color: transparent!important;
  border-right-color: var(--border-color)!important;
  border-bottom-color: transparent!important;
}
.nav-tabs-custom>.nav-tabs>li:not(.active)>a {
    border-top-color: var(--border-color) !important;
    border-right-color: var(--border-color) !important;
}
.nav-tabs-custom > .nav-tabs > li {
 margin-right: 0px!important;
}
.tabbed-pane {
  border-radius: 0px!important;
}
.navbar-right{
  align-items: center;
}
/* toggle button dark */
.dark-theme-toggler {
  padding-top: 6px; padding-right: 10px;
}
.toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}
.toggle-track {
    width: 50px;
    height: 22px;
    padding: 0;
    border-radius: 30px;
    background-color: #0f1114;
    transition: all .2s ease;
}
.toggle-track-check {
    left: 5px;
    opacity: 0;
    /* transition: opacity .25s ease; */
}
.toggle-track-check,
.toggle-track-x {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0
}

.toggle-track-x {
    right: 5px
}

.toggle-thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    transition: all .5s cubic-bezier(.23, 1, .32, 1) 0ms;
    transform: translateX(0)
}
.checked .toggle-track-check,
.toggle-track-x {
    opacity: 1;
    transition: opacity .25s ease
}
.checked .toggle-track-x {
    opacity: 0
}
.checked .toggle-thumb {
    transform: translateX(26px);
    border-color: #19ab27
}
.toggler-screen-reader-only {
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
    border: none;
    margin: -1px
}
/* sidebar */
.sidebar {
  background: var(--background-color)!important;
  border-right: var(--border-color)!important;
}
/* icons */
.fa, .nav-link {
  color: var(--text-alt-color)!important;
}
.nav-link:hover span {
  color: #0f1114!important;
}
/* storyboard */
.sbframelist ul li {
  background-color: var(--main-background)!important;
  color: var(--text-color)!important;
}
.sbframelist ul li.active {
  background-color: var(--background-alt-color)!important;
}
/* map */
.dark-map-tiles {filter: var(--dark-map-filter);}
