#docute > .Page {margin-top: 50px;}
#docute > .Page > .Wrap > .Sidebar {margin-top: 50px;}
.navbar-default {background-color: white;}
h1 {margin-top: 40px!important;}
h2 {margin-top: 20px!important;}
/*text {font-size: 0.75vw; font-family: 'Raleway', sans-serif}*/
img.image-thumb {border: 0px!important; width: auto!important;}

.dark-image {filter: var(--dark-image-filter);}
.dark-map-tiles {filter: var(--dark-map-filter);}

body {
    overflow-y: overlay;
    background-color: var(--main-background);
}
.page-content code, code{
   color: #c7254e;
   background: var(--inline-code-background-politics);
   font-family: var(--code-font);
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--toc-border-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
/* TABLE */
.ReactTable {
  margin: auto!important;
  background: var(--rt-background-color);
}
.rt-td {
  border-top-color: var(--rt-secondary-border-color);
  border-left-color: var(--rt-secondary-border-color);
  border-bottom-color: var(--rt-secondary-border-color);
}
.rt-table, .rt-th {
  border-color: var(--toc-border-color);
}
.rt-filter {
  color: var(--text-color);
  background: var(--page-background);
  border-color: var(--toc-border-color);
}
.rt-expander:after {
  border-top: var(--rt-expander-color);
}
.politics-class, .leaflet-container {
  font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.rt-th {
  font-weight: 400;
}
.number {
  font-family: "Fira Mono", Consolas, Monaco, monospace;
  font-size: 0.84375rem;
  white-space: pre;
}
/* DB SCHEMA VIZ */
.grViz {
  width: 100%!important; height: auto!important;
}
#a_graph0 > a > polygon {fill: transparent;}


g > polygon:not(:last-child) {
  fill: var(--inline-code-background-politics);
  stroke: none;
}
g > polygon:last-child {
  stroke: var(--toc-border-color);
}
g > text:first-of-type {
  font-size: 11px;
}
g > text:not(:first-of-type) {
  fill: var(--text-color);
}
g > text {
  font-family: var(--code-font);
  font-size: 10px;
  fill: #c7254e;
}

g > path {
  stroke: var(--toc-border-color);
}
